*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: inherit;
    color: inherit;
    font-weight: inherit;
    list-style: none;
}

html {
    font-size: 62.5%;
}

img,
picture {
    max-width: 100%;
}

:root {
    /******   Colors   ******/
    --clr-black: 0 0% 0%;
    --clr-attribution: 0 0% 66%;

    /******   Font Family  **/
    --ff-montserrat: 'Montserrat', sans-serif;
    --ff-poppins: 'Poppins', sans-serif;
    --ff-ptserif: 'PT Serif', serif;

    /******   Font Weights  **/
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;

    /******   Font sizes  ****/
    --fs-300: 1.0rem;
    --fs-400: 1.4rem;
    --fs-500: 1.8rem;
    --fs-900: 3.6rem;
    --fs-attribution: 1.4rem;
}

@media (min-width: 45em) {
    :root {
        --fs-300: 1.2rem;
        --fs-400: 1.8rem;
    }
}

.container {
    max-width: 100rem;
    margin-inline: auto;
}

body {
    padding-inline: 1.5rem;
    color: hsl(var(--clr-black));
    font-family: var(--ff-poppins);
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
}

.intro {
    margin-top: clamp(7rem, 10vw, 10rem);
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.logo {
    font-size: var(--fs-900);
    font-weight: var(--fw-700);
    font-family: var(--ff-ptserif);
}

.about h1 {
    font-size: var(--fs-500);
    font-weight: var(--fw-600);
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.about p {
    max-width: 35ch;
}

.about {
    margin-bottom: clamp(5rem, 10vw, 10rem);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(6rem, 7vw, 8rem) clamp(3rem, 7vw, 6rem);
}

.gallery div {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.6rem;
}

.gallery div:nth-of-type(2n) {
    margin-top: 5rem;
}

.gallery div h2 {
    font-size: var(--fs-300);
    font-family: var(--ff-ptserif);
    text-transform: uppercase;
    writing-mode: vertical-lr;
}

.gallery figcaption {
    font-weight: var(--fw-600);
    margin-top: 0.5rem;
}

.attribution {
    font-size: var(--fs-attribution);
    font-family: var(--ff-montserrat);
    color: hsl(var(--clr-attribution));
    margin-block: 10rem 5rem;
    text-align: center;
}

.attribution a {
    font-weight: var(--fw-700);
    text-decoration: underline;
}


@media (min-width: 45em) {
    .intro {
        flex-direction: row;
        justify-content: space-between;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery div:nth-of-type(2n) {
        margin-top: 0;
    }

    .gallery div:nth-of-type(3n-1) {
        margin-top: 6rem;
    }
}